div{
    margin: 0px;
    padding: 0px;
    
}

button {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.active{
    color: white;
    background-color: black;
}

.inactive{
    background-color: white;
}

.comment{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    height: auto;
    border-bottom: 3px solid gray;
}

.comment h4{
    margin-bottom: 0;
}

.buttonBox{
    display:flex;
    justify-content: space-between;
    width: 20%;
    margin: 0% 5% 2% 70%;
    margin-top: 0px;
}