form {
    align-content: left;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    padding: 15px;
    flex-direction: column;
    line-height: 2;
    border: 3px solid gray;
    border-radius: 10px;
    background-color: white;
    
}

textarea{
    resize: none;
    width: 100%;

    height: 4em;
}

text{
    height: 1em;
}


button{
    background-color: white;
    margin-top: 20px;
}

.postButton{
    display:flex;
    justify-content: space-between;
    margin: 2% 5% 0% 85%;
}